.container {
    padding: 1% 2%;
    height: auto;
    background: #f6f6f6;
}

.componentsContainer {
    display: flex;
    width: 100%;
    height: 100vh;
}

.timerContainer {
    flex: .6;

}

.todoContainer {
    flex: 1;
}

.notesContainer{
    
}

.friendsContainer {
    flex: 1;
}